@import "Base.css";
@import "Theme.css";
@import "Reusable.css";

.main-3 {
  background-image: url("3_About.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vw;
  width: 100%;
  /* border: 1px solid red; */

  /* !!!!!!!!!TargetBar!!!!!!!!!!! */

  .targetBar {
    height: 100%;
    width: 100%;
    z-index: 9;
    top: -100%;
    position: fixed;
    background-image: url("main-nav.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease 1s;
    overflow: hidden;
  }
  #open {
    cursor: pointer;
    position: relative;
    z-index: 5;
  }

  #open::before {
    content: "";
    position: absolute;
    height: 2vw;
    width: 2vw;
    background-color: var(--Elem-Color);
    border-radius: 100%;
    top: -0.5vw;
    scale: 0;
    z-index: -5;
    transition: all linear 0.2s;
  }

  #open:hover::before {
    scale: 1;
  }
  /* !!!!! */
  #close {
    cursor: pointer;
    position: relative;
    z-index: 4;
  }

  #close::before {
    content: "";
    position: absolute;
    height: 2vw;
    width: 2vw;
    background-color: var(--Elem-Color);
    border-radius: 100%;
    top: -0.5vw;
    scale: 0;
    z-index: -4;
    transition: all linear 0.2s;
  }

  #close:hover::before {
    scale: 1;
  }
  /* ! */
  .targetBar .t-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 6vw;

    h2 {
      font-size: 2.5vw;
      position: relative;
      color: var(--Text--Color--1);
    }
    span {
      font-size: 3vw;
    }
    h2::before {
      content: "";
      position: absolute;
      height: 0.6vw;
      width: 0.6vw;
      background-color: var(--Elem-Color);
      border-radius: 100%;
      right: -0.6vw;
      bottom: 1vw;
    }

    li {
      color: var(--Text--Color--1);
      i {
        font-size: 0.8vw;
      }
    }
  }

  .targetBar #nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* !!!!!!! */
    .t-left {
      /* border: 1px solid red; */
      width: 50%;
      padding-left: 5vw;
      height: 35vw;
      display: flex;
      align-items: end;

      ul {
        display: flex;
        gap: 4vw;

        li a {
          position: relative;
          color: var(--Text--Color--1);
        }
      }
    }

    .t-left ul li a::before {
      content: "";
      border-bottom: 0.2vw solid rgb(255, 192, 192);
      border-radius: 5vw;
      top: 1.1vw;
      position: absolute;
      width: 4vw;
      left: -100vw;
      transition: all ease 0.3s;
    }

    .t-left ul li a:hover::before {
      left: 0vw;
    }
    /* !!!!!!!!! */
    .t-right {
      text-align: right;
      /* border: 1px solid red; */
      padding-right: 12vw;
      width: 50%;
      overflow: hidden;

      ul {
        display: flex;
        flex-direction: column;
        gap: 1vw;

        li {
          a {
            color: var(--nav-text);
            font-size: 6vw;
            font-weight: 700;
            z-index: 1;
          }
          & a:hover {
            color: black;
          }
        }
      }
    }
  }

  .t-right ul li a::before {
    position: absolute;
    content: "";
    background-color: var(--Elem-Color);
    width: 20vw;
    height: 2vw;
    margin-top: 3vw;
    margin-left: 100vw;
    transition: all ease 0.2s;
    z-index: -2;
  }

  .t-right ul li a:hover::before {
    margin-left: -1vw;
  }
  /* !!!!!!TargetBar!!!!! */
  header {
    height: 5vw;
    width: 100%;
    padding: 0 4vw;
    position: relative;
    bottom: 50vw;
    transition: all ease 0.5s;
    .nav-bar {
      height: 5vw;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      ul li {
        color: var(--Text--Color--1);
        i {
          font-size: 0.7vw;
          padding-left: 0.5vw;
        }
      }
      ul {
        input {
          border: none;
          height: 2vw;
          width: 10vw;
          outline: none;
          font-size: 1vw;
          &::placeholder {
            text-align: center;
            font-size: 0.7vw;
            text-transform: uppercase;
            color: var(--Text--Color--);
          }
        }
      }

      .circle {
        border: 0.5vw solid var(--Text--Color--1);
        height: 2vw;
        width: 2vw;
        border-radius: 100%;
        position: relative;
      }
      .circle::before {
        content: "";
        position: absolute;
        left: 1.5vw;
        top: 1.1vw;
        height: 0.7vw;
        width: 0.7vw;
        font-size: 3vw;
        background-color: var(--Elem-Color);
        border-radius: 100%;
      }
    }
  }

  /*? !!!!!! start h1!!!!!! */

  h1 {
    color: var(--Text--Color--1);
    top: 4vw;
    position: relative;
    left: -100vw;
    transition: all ease 0.5s;
  }

  h1::before {
    position: absolute;
    content: "";
    background-color: var(--Elem-Color);
    height: 3vw;
    width: 3vw;
    border-radius: 100%;
    top: 11vw;
    left: 54vw;
  }
}
/* !!!!!Section-1!!!!!*/
p {
  line-height: 1.6vw;
  color: var(--Text--Color--2);
  font-size: 1vw;
}
.section-1 {
  background-image: url("O_about.png");
  height: 45vw;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  .text {
    width: 70%;
    height: 5vw;
    /* border: 1px solid red; */
    overflow: hidden;
    span {
      z-index: 2;
      position: relative;
    }
    span::before {
      content: "";
      z-index: -2;
      position: absolute;
      height: 1vw;
      width: 12vw;
      left: 0vw;
      top: 0.9vw;
      background-color: var(--Elem-Color);
    }
    h3 {
      z-index: 2;
      color: var(--Text--Color--1);
    }

    .ab-h3 {
      position: relative;
      left: -50vw;
      transition: all 1s ease;
    }
    .ab-span {
      position: relative;
      right: -300vw;
      transition: all 1s ease;
    }
  }
  .section-child-1 {
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(3, 3, 3); */
    gap: 2vw;

    .img-section {
      overflow: hidden;
      height: 35vw;
      width: 30vw;
      /* border: 1px solid red; */
      scale: 0;
      transition: all ease 1s;

      img {
        width: 100%;
      }
    }

    .img-text-section {
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 1.5vw;
      height: 35vw;
      width: 30vw;
      /* border: 1px solid red; */
      flex-direction: column;
      overflow: hidden;
      h3 {
        color: var(--Text--Color--1);
      }

      #its_1 {
        transform: translateX(50vw);
        transition: all ease 1s;
      }
      #its_2 {
        transform: translateX(-50vw);
        transition: all ease 1s;
      }
    }
  }
}

.section-2 {
  height: 50vw;
  width: 100%;
  padding: 2vw 5vw;

  .text {
    width: 70%;
    height: 5vw;
    /* border: 1px solid red; */
    overflow: hidden;
    padding-left: 2vw;

    span {
      z-index: 2;
      position: relative;
    }
    .ab-h3_1 {
      transform: translateX(-50vw);
      transition: all ease 1s;
      font-weight: bolder;
    }

    .ab-span_2 {
      font-weight: bolder;
      transition: all ease 1s;
      transform: translateY(-50vw);
    }
    span::before {
      content: "";
      z-index: -2;
      position: absolute;
      height: 1vw;
      width: 12vw;
      left: 0vw;
      top: 1vw;
      background-color: var(--Elem-Color);
    }
    h3 {
      z-index: 2;
      color: var(--Text--Color--1);
    }
  }

  .container-6 {
    height: 40vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;

    .con-box {
      height: 20vw;
      width: 30vw;
      /* border: 1px solid red; */
      padding: 2vw;
      display: flex;
      align-items: start;
      justify-content: start;
      gap: 0.7vw;
      flex-direction: column;
      scale: 0;
      transition: all ease 0.5s;

      h3 {
        color: var(--Text--Color--1);
      }

      span {
        font-weight: 800;
        color: rgb(123, 123, 123);
        font-size: 0.6vw;
      }
      p {
        color: var(--Text--Color--2);
      }
    }
  }
}

.section-3 {
  width: 100%;
  height: 30vw;
  .text {
    width: 100%;
    height: 5vw;
    /* border: 1px solid red; */
    overflow: hidden;
    padding-left: 2vw;
    display: flex;
    justify-content: end;
    align-items: center;

    span {
      z-index: 2;
      position: relative;
      color: var(--Text--Color--1);
    
    }
   
    .ab-span_2 {
      font-size: 2.5vw;
      padding-right: 6vw;
      transition: all ease 1s;
      transform: translateY(-500vw);
      font-weight: bolder;
    }
    span::before {
      content: "";
      z-index: -2;
      position: absolute;
      height: 1vw;
      width: 8vw;
      left: 0vw;
      top: 0.9vw;
      background-color: var(--Elem-Color);
    }
    h3 {
      z-index: 2;
      color: var(--Text--Color--1);
    }
  }

  .section-3-child{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vw;
    width: 100%;
    gap: 3vw;



    .boxes-01{
      border: 0.1vw solid grey;
      height:15vw;
      width: 27vw;
      display: flex;
      flex-direction: column;
      gap: 1vw;
      justify-content: center;
      align-items: start;
      padding: 3vw;
      transform: scaleY(0);
      transition: all ease 0.5s;

      h3{
        color: var(--Gradient--Color);
      }

    }
  }
}
.footer {
  height: 6vw;
  width: 100%;

  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 2vw;
  .footer-left {
    color: var(--Text--Color--2);
  }
  .footer-right {
    color: var(--Text--Color--1);
    ul {
      display: flex;
      gap: 2vw;
    }
  }
}
