/*!!!!!!!!!! Themes !!!!!!!!!!*/

:root{
       --Text--Color--1:rgb(43, 43, 43); 
       --Text--Color--2:rgb(120, 120, 120);
       --Gradient--Color:rgb(50, 48, 49);
       --Elem-Color:rgb(254, 217, 201);
       --nav-text:rgb(196, 196, 196);
}